<div class="modal fade" id="modelAttributes" tabindex="-1" aria-labelledby="modelAttributesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modelAttributesLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body attributeBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary true" data-bs-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>