<div id="viewBaseline" class="card border-secondary mv w-100 text-light" style="background-color: #333f48;">
    <h5 style="background-color: #bf5700;" class="card-header">Baseline</h5>
    <div class="card-body w-100">
        <div class="table-responsive">
            <div class="text-end">
                <button id='viewBaselineBtn' type="button" class="btn btn-success">
                    <i class="fas fa-edit">&nbsp;View &amp; Edit Current Records</i>
                </button>
            </div>
            <table id="tableData" class="table text-light table-borderless inputTable mt-3">
                <thead>
                    <tr class='text-center bordered'>
                        <th></th>
                        <th class="bordered" scope="col">CHW
                            <span class='units'>[tonhr]</span>
                        </th>
                        <th class="bordered" scope="col">ELE
                            <span class='units'>[kWh]</span>
                        </th>
                        <th class="bordered" scope="col">STM
                            <span class='units'>[lb]</span>
                        </th>
                        <th class="bordered" scope="col">HHW
                            <span class='units'>[mmbtu]</span>
                        </th>
                        <th class="bordered" scope="col">GAS
                            <span class='units'>[CCF]</span>
                        </th>
                        <th class="bordered" scope="col">WTR
                            <span class='units'>[kgal]</span>
                        </th>
                        <th class="bordered" scope="col">Peak CHW
                            <span class='units'>[ton]</span>
                        </th>
                        <th class="bordered" scope="col">Labor
                            <span class='units'>[Hours]</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="width: 100px" class="bordered">Baseline</th>
                        <td class="inputBorder">
                            <input id="addCHW" autocomplete="off" type="text" class="text-center">
                        </td>
                        <td class="inputBorder">
                            <input id="addELE" autocomplete="off" type="text" class="text-center">
                        </td>
                        <td class="inputBorder">
                            <input id="addSTM" autocomplete="off" type="text" class="text-center">
                        </td>
                        <td class="inputBorder">
                            <input id="addHHW" autocomplete="off" type="text" class="text-center">
                        </td>
                        <td class="inputBorder">
                            <input id="addGAS" autocomplete="off" type="text" class="text-center">
                        </td>
                        <td class="inputBorder">
                            <input id="addWTR" autocomplete="off" type="text" class="text-center">
                        </td>
                        <td class="inputBorder">
                            <input id='addPeakCHW' autocomplete="off" type="text" class="text-center">
                        </td>
                        <td class="inputBorder">
                            <input id="addLabor" autocomplete="off" type="text" class="text-center">
                        </td>
                    </tr>
                    <tr class='text-center borderTop'>
                        <td></td>
                        <td>
                            <i id="showCHW" data-comm-name="CHW" name="CHW" style="display: none" class="far fa-check-circle fa-3x checkMark addBaseline"></i>
                        </td>
                        <td>
                            <i id="showELE" data-comm-name="ELE" name="ELE" style="display: none" class="far fa-check-circle fa-3x checkMark addBaseline"></i>
                        </td>
                        <td>
                            <i id='showSTM' data-comm-name='STM' name="STM" style="display: none" class="far fa-check-circle fa-3x checkMark addBaseline"></i>
                        </td>
                        <td>
                            <i id="showHHW" data-comm-name="HHW" name='HHW' style="display: none" class="far fa-check-circle fa-3x checkMark addBaseline"></i>
                        </td>
                        <td>
                            <i id="showGAS" data-comm-name="GAS" name='GAS' style="display: none" class="far fa-check-circle fa-3x checkMark addBaseline"></i>
                        </td>
                        <td>
                            <i id="showWTR" data-comm-name="WTR" name="WTR" style="display: none" class="far fa-check-circle fa-3x checkMark addBaseline"></i>
                        </td>
                        <td>
                            <i id="showPeakCHW" data-comm-name="Peak CHW" name="PeakCHW" style="display: none" class="far fa-check-circle fa-3x checkMark addBaseline"></i>
                        </td>
                        <td>
                            <i id="showLabor" data-comm-name="Labor" name="Labor" style="display: none" class="far fa-check-circle fa-3x checkMark addBaseline"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>