<div id="viewBaseline" class="card border-secondary mv w-100 text-light" style="background-color: #333f48;">
    <h5 style="background-color: #bf5700;" class="card-header">Baseline</h5>
    <div class="card-body w-100">
        <div class="table-responsive">
            <div class="text-end">
                <button id='viewBaselineBtn' type="button" class="btn btn-success">
                    <i class="fas fa-edit">&nbsp;View &amp; Edit Current Records</i>
                </button>
            </div>
            <table id="tableData" class="table text-light table-borderless inputTable mt-3">
                <thead>
                    <tr class='text-center bordered'>
                        <th></th>
                        <th class="bordered" scope="col">CHW
                            <span class='units'>[tonhr]</span>
                        </th>
                        <th class="bordered" scope="col">ELE
                            <span class='units'>[kWh]</span>
                        </th>
                        <th class="bordered" scope="col">STM
                            <span class='units'>[lb]</span>
                        </th>
                        <th class="bordered" scope="col">HHW
                            <span class='units'>[mmbtu]</span>
                        </th>
                        <th class="bordered" scope="col">GAS
                            <span class='units'>[CCF]</span>
                        </th>
                        <th class="bordered" scope="col">WTR
                            <span class='units'>[kgal]</span>
                        </th>
                        <th class="bordered" scope="col">Peak CHW
                            <span class='units'>[ton]</span>
                        </th>
                        <th class="bordered" scope="col">Labor
                            <span class='units'>[Hours]</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='text-center'>
                        <th style="width: 100px" class="bordered">Baseline</th>
                        <td class="text-center inputBorder">
                            <input autocomplete="off" type="text" id="chwValue">
                        </td>
                        <td class="text-center inputBorder">
                            <input autocomplete="off" type="text" id="eleValue">
                        </td>
                        <td class="text-center inputBorder">
                            <input autocomplete="off" type="text" id="stmValue">
                        </td>
                        <td class="text-center inputBorder">
                            <input autocomplete="off" type="text" id="hhwValue">
                        </td>
                        <td class="text-center inputBorder">
                            <input autocomplete="off" type="text" id="gasValue">
                        </td>
                        <td class="text-center inputBorder">
                            <input autocomplete="off" type="text" id="wtrValue">
                        </td>
                        <td class="text-center inputBorder">
                            <input autocomplete="off" type="text" id="peakChwValue">
                        </td>
                        <td class="text-center inputBorder">
                            <input autocomplete="off" type="text" id="laborValue">
                        </td>
                    </tr>
                    <tr class='text-center borderTop'>
                        <td></td>
                        <td>
                            <i id="addChw" style="display: none" class="far fa-check-circle fa-3x checkMark"></i>
                        </td>
                        <td>
                            <i id="addEle" style="display: none" class="far fa-check-circle fa-3x checkMark"></i>
                        </td>
                        <td>
                            <i id="addStm" style="display: none" class="far fa-check-circle fa-3x checkMark"></i>
                        </td>
                        <td>
                            <i id="addHhw" style="display: none" class="far fa-check-circle fa-3x checkMark"></i>
                        </td>
                        <td>
                            <i id="addGas" style="display: none" class="far fa-check-circle fa-3x checkMark"></i>
                        </td>
                        <td>
                            <i id="addWtr" style="display: none" class="far fa-check-circle fa-3x checkMark"></i>
                        </td>
                        <td>
                            <i id="addPeakChw" style="display: none" class="far fa-check-circle fa-3x checkMark"></i>
                        </td>
                        <td>
                            <i id="addLabor" style="display: none" class="far fa-check-circle fa-3x checkMark"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>