<div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div style="background-color: #333f48;" class="card w-100">
                <div id="chartData2" class="card-body">
                    <canvas class="my-4 w-100" id="myChart3"></canvas>
                </div>
            </div>
            <div style="background-color: #333f48;" class="modal-footer">
                <button type="button" class="btn btn-secondary bg-light text-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>