<div class="card border-secondary mv w-100 text-light mb-3 collapse" id="collapseCostsHours"
    style="background-color: #333f48;">
    <h5 style="background-color: #bf5700;" class="card-header">Costs &amp; Hours</h5>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tableData" class="table text-light text-end table-borderless bordered">
                <thead>
                    <tr class='text-center bordered'>
                        <th></th>
                        <th class="bordered" scope="col">EMO</th>
                        <th class="bordered" scope="col">Analysts</th>
                        <th class="bordered" scope="col">Maintenance</th>
                        <th class="bordered" scope="col">ETS</th>
                        <th class="bordered" scope="col">BOT</th>
                        <th class="bordered" scope="col">OtherUT</th>
                        <th class="bordered" scope="col">Materials</th>
                        <th class="bordered" scope="col">Non-UT Contract</th>
                        <th class="bordered" scope="col">Contingency</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class='bordered'>Implementation</th>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th class='bordered'>Annual</th>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>