<div class="card border-secondary mv w-100 text-light mb-3 collapse" id="collapseFundings"
    style="background-color: #333f48;">
    <h5 style="background-color: #bf5700;" class="card-header">Fundings</h5>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tableData" class="table text-light text-end table-borderless bordered">
                <thead>
                    <tr class='text-center bordered'>
                        <th></th>
                        <th class="bordered" scope="col">Green Fund</th>
                        <th class="bordered" scope="col">Facilites</th>
                        <th class="bordered" scope="col">R and R</th>
                        <th class="bordered" scope="col">UEM</th>
                        <th class="bordered" scope="col">AUX</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="width: 100px" class='bordered'>Fundings</th>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                        <td class="bordered text-center">
                            <button class="btn btn-success">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>