<div class="modal fade" id="miscSavingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card border-secondary w-100 text-light" style="background-color: #333f48">
                <h5 style="background-color: #bf5700;" class="card-header">Misc Savings</h5>
                <div class="card-body w-100 text-end">
                    <div id="errorsM" class="text-start"></div>
                    <table id="tableDataM" class="table text-light text-center mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Phase</th>
                                <th scope="col">Owner</th>
                                <th scope="col">Misc Savings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="display: none">
                                    <div class="input-group mb-3">
                                        <input id="validationCustom03" value="{{project_id}}" name="project_id"
                                            type="text" class="form-control">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <select id="addMiscPhase" name="phase" class="form-select phase"
                                            id="inputGroupSelect01">
                                            <option disabled selected>Choose</option>
                                            <option value='MV'>MV</option>
                                            <option vale='Predicted'>Predicted</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <select id="addOwner" name="misc_owner" class="form-select misc_owner"
                                            id="inputGroupSelect01">
                                            <option disabled selected>Choose...</option>
                                            <option value='UEM'>UEM</option>
                                            <option value='Non-UEM'>Non-UEM</option>
                                            <option value='AUX'>AUX</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input autocomplete="off" value="{{misc_savings}}" name="misc_savings"
                                            type="text" class="form-control misc_savings">
                                    </div>
                                </td>
                                <td>
                                    <button type="button" style="background-color: #bf5700;"
                                        class="btn btn-warning text-light addRowM"><i
                                            class="fas fa-plus-circle"></i>&nbsp;Add
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-footer text-end">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>