<ul class="sidebar-navigation">
    <li class="header">External Links</li>
    
    <li>
        <a target="_blank" href="https://us-east-1.quicksight.aws.amazon.com/sn/dashboards/ccbd9766-18e1-40c1-afc4-fe4103111b21/sheets/ccbd9766-18e1-40c1-afc4-fe4103111b21_d73d762a-4c52-4c23-8f82-8766ce360dcd">
            <i class="fas fa-chart-area"></i></i> Quicksight Dashboard
        </a>
    </li>
     <li>
        <a target="_blank" href="http://10.157.100.15:8088/data/perspective/client/IAMeters/">
            </i><i class="fas fa-bolt"></i>Power Generation Overview
        </a>
    </li>
    <li>
        <a target="_blank" href="https://insight.utilities.utexas.edu/Insight">
            <i class="fas fa-search"></i>PRISM Insight
        </a>
    </li>
    <li>
        <a target="_blank" href="https://utilities.utexas.edu/">
            <i class="far fa-window-maximize"></i> UEM Website
        </a>
    </li>
    <li>
        <a target="_blank" href="http://ec2-18-209-45-255.compute-1.amazonaws.com/pgadmin4">
            <i class="fas fa-database"></i> pgAdmin
        </a>
    </li>
     <li>
        <a target="_blank" href="http://ops-delawareweb.austin.utexas.edu/TrefoilEnergy/">
            <i class="fas fa-leaf"></i> Trefoil
        </a>
    </li>
     <li class="header">Navigation</li>
    <li>
        <a target="_blank" id='ecm' href="/ecmforms">
            <i class="far fa-file-alt"></i> ECM Forms
        </a>
    </li>
    <li>
        <a target="_blank" id='datacleaning' href="/datacleaning">
            <i class="fas fa-check-double"></i> Meter Validation App
        </a>
    </li>
    
    <li class="logout">
        <a href="/logout">
            <i class="fas fa-power-off"></i></i> Logout
        </a>
    </li>
</ul>