<ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li>
        <a id='home' href="/">
            <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
    </li>
    <li>
        <a id='ecm' href="/ecmforms">
            <i class="far fa-file-alt"></i> ECM Forms
        </a>
    </li>
    <li>
        <a id='datacleaning' href="/datacleaning">
            <i class="fas fa-broom"></i> Data Cleaning App
        </a>
    </li>
    <li>
        <a target="_blank" href="https://utilities.utexas.edu/">
            <i class="fas fa-bolt"></i> UEM Website
        </a>
    </li>
    <li>
        <a target="_blank" href="http://ec2-54-243-18-31.compute-1.amazonaws.com/pgadmin4/login?next=%2Fpgadmin4%2F">
            <i class="fas fa-database"></i> PG Admin
        </a>
    </li>
     <li>
        <a target="_blank" href="http://ops-delawareweb.austin.utexas.edu/TrefoilEnergy/">
            <i class="fas fa-leaf"></i> Trefoil
        </a>
    </li>
    <li class="logout">
        <a href="/logout">
            <i class="fas fa-power-off"></i></i> Logout
        </a>
    </li>
</ul>