<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card border-secondary w-100 text-light" style="background-color: #333f48">
                <h5 style="background-color: #bf5700;" class="card-header">Success!</h5>
                <div class="card-body w-100">
                    <p style="font-size: larger;" class="successMessage">
                    </p>
                    <ul>
                        <h4>
                            <b>
                                <li class="successId">
                                </li>
                            </b>
                        </h4>
                    </ul>
                    <p style="font-size: larger;">
                        Search for your project to begin adding data.
                    </p>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success load">Search</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>