<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fundings</li>
        </ol>
    </nav>
    <form action='/fundings' method="POST">
        <div class="card border-secondary w-100 text-light" style="background-color: #333f48">
            <h5 style="background-color: #bf5700;" class="card-header">Fundings</h5>
            <div class="card-body w-100 text-end">
                <div id="errors" class="text-start"></div>
                <table id="tableData" class="table text-light text-center mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Source</th>
                            <th scope="col">$ Implementation</th>
                            <th scope="col">$ Annual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="source" class="form-select source" id="inputGroupSelect01">
                                    <option disabled selected>Choose</option>
                                    <option>Green Fund</option>
                                    <option>Facilities</option>
                                    <option>R and R</option>
                                    <option>UEM</option>
                                    <option>AUX</option>
                                </select>
                            </td>
                            <td>
                                <input autocomplete="off" name="implementation" type="text" class="form-control implementation">
                            </td>
                            <td>
                                <input autocomplete="off" name="annual" type="text" class="form-control annual">
                            </td>
                            <td>
                                <button type="button" style="background-color: #bf5700;"
                                    class="btn btn-warning text-light addRowF"><i
                                        class="fas fa-plus-circle"></i>&nbsp;Add</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row text-center my-3">
                <div class="col-5">
                    <a href='/costs_hours'><button type="button" class='btn btn-warning'>Back</button></a>
                </div>
                <div class="col-5 text-end">
                    <button disabled id="next" type="button" class='btn btn-success'><a id="link"
                            class="text-white">Next</a></button>
                </div>
            </div>
        </div>
    </form>
</div>