<div class="container d-flex justify-content-center align-items-center">
    <div class="row margin">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Savings</li>
            </ol>
        </nav>
        <form action='/savings' method="POST">
            <div class="card border-secondary w-100 text-light" style="background-color: #333f48">
                <h5 style="background-color: #bf5700;" class="card-header">Savings</h5>
                <div class="card-body w-100 text-end">
                    <div id="errors" class="text-start"></div>
                    <table id="tableData" class="table text-light text-center mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Phase</th>
                                <th scope="col">Commodity</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-group mb-3">
                                        <select name="phase" class="form-select phase" id="inputGroupSelect01">
                                            <option disabled selected>Choose</option>
                                            <option value='mv'>MV</option>
                                            <option value='predicted'>Predicted</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <select name="commodity" class="form-select commodity" id="inputGroupSelect01">
                                            <option disabled selected>Choose</option>
                                            <option>CHW</option>
                                            <option>ELE</option>
                                            <option>STM</option>
                                            <option>HHW</option>
                                            <option>GAS</option>
                                            <option>WTR</option>
                                            <option value='peak_CHW'>Peak CHW</option>
                                            <option value='labor'>Labor</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input autocomplete="off" name="value" type="text" class="form-control value">
                                    </div>
                                </td>
                                <td>
                                    <button type="button" style="background-color: #bf5700;"
                                        class="btn btn-warning text-light addRowS"><i
                                            class="fas fa-plus-circle"></i>&nbsp;Add</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row text-center my-3">
                    <div class="col-5">
                        <a href='/baseline'><button type="button" class='btn btn-warning'>Back</button></a>
                    </div>
                    <div class="col-5 text-end">
                        <button id="finish" disabled type="button" class="btn btn-success finish" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Finish
                        </button>
                    </div>
                </div>
                <div class="card-footer text-muted text-end">
                    <button id="skip" type="button" class='btn btn-warning finish'><a href="/"
                            class="text-dark">Skip</a></button>
                </div>
            </div>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="card border-secondary w-100 text-light" style="background-color: #333f48">
                        <h5 style="background-color: #bf5700;" class="card-header">Success!</h5>
                        <div class="card-body">
                            <div class="modal-body text-center mt-2">
                                <h2 style="font-size: 40px;">Your Project has been successfully created!</h2>
                            </div>
                            <div class="modal-footer">
                                <a id="link"><button style="background-color: #bf5700; color: white" type="button"
                                        class="btn">Go Home</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>