<div class="row">
    <form action="/datacleaning" method="POST">
        <div class="col-md-12 mt-5">
            {{#each errors}}
            <div>{{text}}</div>
            {{/each}}
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Steward</label>
                <select name="steward" class="form-select steward" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option>Grace Hsieh</option>
                    <option>Meagan Jones</option>
                    <option>Matt Stevens</option>
                    <option>Travis Isakson</option>
                </select>
                <button type="button" class="btn btn-success searchBuildings">Search</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Building</label>
                <select id="options" name="building_abbreviation" class="form-select buildings" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect02">Commodity</label>
                <select name="commodity_tag" class="form-select commodity" id="inputGroupSelect02">
                    <option selected>Choose...</option>
                    <option>A</option>
                    <option>E</option>
                    <option>H</option>
                    <option>L</option>
                    <option>S</option>
                    <option>W</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-success search">Search</button>
        <div class="col-md-12 mt-4">
            <table id="tbl-1" class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Building</th>
                        <th class="text-end" scope="col">Meter Number</th>
                        <th class="text-end" scope="col">Building Number</th>
                        <th class="text-end" scope="col">Commodity</th>
                    </tr>
                </thead>
                <tbody id="bodyData">
                </tbody>
            </table>
        </div>
    </form>
    <button type="button" class="apiGateway btn btn-success">Search API</button>
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <canvas id="myChart" width="100" height="100"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="myChart2" width="100" height="100"></canvas>
        </div>
    </div>
</div>