<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br />
    <p class='overlayMessage'>Getting data, this will take a few seconds</p>
</div>

<div class="row">
    <form action="/datacleaning" method="POST">
        <div class="row">
            <div class="col-md-12 mt-4">
                {{#each errors}}
                <div>{{text}}</div>
                {{/each}}
                <div id="toolbar">
                </div>
                <table id="table" data-toggle="table" data-toolbar="#toolbar" data-height="460" data-ajax="ajaxRequest"
                    data-search="true" data-pagination="true">
                    <thead>
                        <tr class="rowData">
                            <th id="button3" data-field="state" data-radio="true"></th>
                            <th data-field="building_abbreviation">Building</th>
                            <th data-field="meter">Meter Name</th>
                            <th data-field="building_number">Building Number</th>
                            <th data-field="commodity_tag">Commodity</th>
                        </tr>
                    </thead>
                </table>
                <button type="button" id="button" class="btn btn-success mt-3">Confirm Meter Selection</button>
                <button type="button" id="button2" class="btn btn-danger mt-3">Clear Selection</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-5">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Current Meter Selection:</div>
                            <div class="meterSelection">--</div>
                        </div>
                    </li>
                </ul>
                <div class="input-group flex-nowrap mt-3">
                    <span class="input-group-text" id="addon-wrapping">Model Start Date:</span>
                    <input disabled='true' id="modelStart" type="text"
                        class="form-control datepicker disabled modelStart" placeholder="yyyy/mm/dd"
                        aria-label="Model Start Date" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mt-3">
                    <span class="input-group-text" id="addon-wrapping">Model End Date:</span>
                    <input disabled="true" type="text" class="form-control datepicker disabled modelEnd"
                        placeholder="yyyy/mm/dd" aria-label="Model End Date" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mt-5">
                    <span class="input-group-text" id="addon-wrapping">Analysis Start Date:</span>
                    <input disabled="true" type="text" class="form-control datepicker disabled analysisStart"
                        placeholder="yyyy/mm/dd" aria-label="Analysis Start Date" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mt-3">
                    <span class="input-group-text" id="addon-wrapping">Analysis End Date:</span>
                    <input disabled="true" type="text" class="form-control datepicker disabled analysisEnd"
                        placeholder="yyyy/mm/dd" aria-label="Analysis End Date" aria-describedby="addon-wrapping">
                </div>
                <ul class="list-group mt-3">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Meter Description:</div>
                            <div class="meterVariable">--</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 mt-5">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Base Temp:</div>
                            <div class="baseTemp">--</div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">% Auto-Ignored:</div>
                            <div class="autoIgnored">--</div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Slope:</div>
                            <div class="slope">--</div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Intercept:</div>
                            <div class="intercept">--</div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">R-Squared:</div>
                            <div class="r2">--</div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Std Dev:</div>
                            <div class="stdDev">--</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="d-grid gap-2 mt-4">
        <button class="btn btn-primary apiGateway load" type="button">Run Model</button>
    </div>
    <div id='chartData' class="row mt-5 mb-5">
        <div class="col-md-6">
            <canvas id="myChart" width="1000" height="1000"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="myChart2" width="1000" height="1000"></canvas>
        </div>
    </div>
    <div style='display: none' id='tableData' class="row mb-3">
        <div class="col-md-12">
            <table data-detail-view="true" data-detail-view-align='right' data-detail-formatter="detailFormatter"
                id="table2" class="table table-bordered border-secondary w-100" data-multiple-select-row="true"
                data-click-to-select="true" data-toolbar="#toolbar">
                 <h6 class='text-end'>Click the <i class="fas fa-plus"></i> to view more details</h6>
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="Date">Date</th>
                        <th data-field="Temperature">Temperature</th>
                        <th data-field="HDD">HDD</th>
                        <th data-field="Meter">Meter Reading</th>
                        <th data-field="Expected">Expected</th>
                        <th data-field="Replacement" data-visible="false">Replacement</th>
                        <th data-field="Reason" data-visible="false">Reason</th>
                        <th data-field="Notes" data-visible="false">Notes</th>
                </thead>
            </table>
            <button type="button" id="button3" class="btn btn-success mt-3 w-100">Replace</button>
        </div>
    </div>
    <div id='row-container'>

    </div>
</div>