<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br />
    <p class='overlayMessage'>Getting data, this will take a few seconds</p>
</div>

<div class="row">
    <form action="/datacleaning" method="POST">
        <div class="row">
            <div class="col-md-12 mt-4">
                {{#each errors}}
                <div>{{text}}</div>
                {{/each}}
                <div id="toolbar">
                </div>
                <table id="table" data-toggle="table" data-toolbar="#toolbar" data-height="460" data-ajax="ajaxRequest"
                    data-search="true" data-pagination="true">
                    <thead>
                        <tr class="rowData">
                            <th id="button3" data-field="state" data-radio="true"></th>
                            <th data-field="building_abbreviation">Building</th>
                            <th data-field="meter">Meter Name</th>
                            <th data-field="building_number">Building Number</th>
                            <th data-field="commodity_tag">Commodity</th>
                        </tr>
                    </thead>
                </table>
                <button type="button" id="button" class="btn btn-success mt-3">Confirm Meter Selection</button>
                <button type="button" id="button2" class="btn btn-danger mt-3">Clear Selection</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-5">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Current Meter Selection:</div>
                            <div class="meterSelection">--</div>
                        </div>
                    </li>
                </ul>
                <div class="input-group flex-nowrap mt-3">
                    <span class="input-group-text" id="addon-wrapping">Model Start Date:</span>
                    <input disabled='true' id="modelStart" type="text"
                        class="form-control datepicker disabled modelStart" placeholder="yyyy/mm/dd"
                        aria-label="Model Start Date" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mt-3">
                    <span class="input-group-text" id="addon-wrapping">Model End Date:</span>
                    <input disabled="true" type="text" class="form-control datepicker disabled modelEnd"
                        placeholder="yyyy/mm/dd" aria-label="Model End Date" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mt-5">
                    <span class="input-group-text" id="addon-wrapping">Analysis Start Date:</span>
                    <input disabled="true" type="text" class="form-control datepicker disabled analysisStart"
                        placeholder="yyyy/mm/dd" aria-label="Analysis Start Date" aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap mt-3">
                    <span class="input-group-text" id="addon-wrapping">Analysis End Date:</span>
                    <input disabled="true" type="text" class="form-control datepicker disabled analysisEnd"
                        placeholder="yyyy/mm/dd" aria-label="Analysis End Date" aria-describedby="addon-wrapping">
                </div>
                <ul class="list-group mt-3">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Meter Description:</div>
                            <div class="meterVariable">--</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 mt-5">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Base Temp:</div>
                            <div class="baseTemp">--</div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">% Auto-Ignored:</div>
                            <div class="autoIgnored">--</div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Slope:</div>
                            <div class="slope">--</div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Intercept:</div>
                            <div class="intercept">--</div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">R-Squared:</div>
                            <div class="r2">--</div>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Std Dev:</div>
                            <div class="stdDev">--</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="d-grid gap-2 mt-4">
        <button class="btn btn-primary apiGateway load" type="button">Run Model</button>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <canvas id="myChart" width="1000" height="1000"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="myChart2" width="1000" height="1000"></canvas>
        </div>
    </div>
    <div style="display: none" class="row tableData mb-3">
        <div class="col-md-8">
            <table id="table2" class="table table-bordered border-secondary">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true">Copy</th>
                        <th data-field="date">Date</th>
                        <th data-field="temperature">Temperature</th>
                        <th data-field="hdd">HDD</th>
                        <th data-field="meterReading">Meter Reading</th>
                        <th data-field="expected">Expected</th>
                        <th data-field="replacement">Replacement</th>
                        <th data-field="reason">Reason</th>
                        <th data-field="notes">Notes</th>
                </thead>
            </table>
        </div>
        <div class="col-md-4">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
            </ol>
            <div class="row mt-3">
                <div class="col-md-12">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                            </div>
                            <span class="badge bg-primary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                            </div>
                            <span class="badge bg-primary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                            </div>
                            <span class="badge bg-primary rounded-pill">14</span>
                        </li>
                    </ol>
                </div>
                <div class="col-md-12 mt-3">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                            </div>
                            <span class="badge bg-primary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                            </div>
                            <span class="badge bg-primary rounded-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Subheading</div>
                                Cras justo odio
                            </div>
                            <span class="badge bg-primary rounded-pill">14</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>