<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br />
    <p class='overlayMessage'>Getting data, this will take a few seconds</p>
</div>
<div class="container-fluid" style='height: 100%; width: 100%'>
    <div style="height: 100%; width: 100%" class="row">
        <div class="col-xxl-3 col-lg-4 searchBox">
            <div style="display: none;" class="email">
                {{#if email}}
                {{email}}
                {{/if}}
            </div>
            <div class="input-group mb-2 mt-3">
                <button id='filterLabel' class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Filter By:</button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item pointer">All</li>
                    <li class="dropdown-item pointer">Grace Hsieh</li>
                    <li class="dropdown-item pointer">Meagan Jones</li>
                    <li class="dropdown-item pointer">Matt Stevens</li>
                </ul>
                <select id="filterBy" class="form-select form-select-sm" id="inputGroupSelect01">
                    <option disabled selected>Select a Steward</option>
                </select>
                <button type='button' class="btn btn-primary reset">reset</button>
            </div>
            <table id="table" data-search-align="left" data-toggle="table" data-toolbar="#toolbar" data-height="448"
                data-ajax="ajaxRequest" data-search="true" data-virtual-scroll="true" data-filter="true"
                data-filter-show-clear="true" data-loading-template="loadingTemplate" style="color: white">
                <thead style="color: white">
                    <tr class="rowData">
                        <th id="button3" data-field="state" data-radio="true"></th>
                        <th data-filter-control="select" data-field="building_abbreviation">Building</th>
                        <th data-filter-type="select" data-field="meter">Meter Name</th>
                        <th data-visible='false' data-field="building_number">Building Number</th>
                        <th data-field="commodity_tag">Commodity</th>
                    </tr>
                </thead>
            </table>
            <button style=" color:white" type="button" id="button" class="btn btn-success mt-3">Confirm Meter
                Selection</button>
            <ul class="list-group mt-3 mb-3">
                <li class="list-group-item listGroupColor">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Current Meter Selection:</div>
                        <div class="meterSelection">--</div>
                    </div>
                </li>
            </ul>
            <div class="input-group flex-nowrap mt-3">
                <span style='width: 120px' class="input-group-text" id="addon-wrapping">Model Start:</span>
                <input autocomplete="off" disabled='true' id="modelStart" type="text"
                    class="form-control datepicker disabled modelStart" placeholder="yyyy/mm/dd"
                    aria-label="Model Start Date" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mt-3">
                <span style='width: 120px' class="input-group-text" id="addon-wrapping">Model End:</span>
                <input disabled="true" type="text" class="form-control datepicker disabled modelEnd"
                    placeholder="yyyy/mm/dd" aria-label="Model End Date" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mt-3">
                <span style='width: 120px' class="input-group-text" id="addon-wrapping">Analysis Start:</span>
                <input disabled="true" type="text" class="form-control datepicker disabled analysisStart"
                    placeholder="yyyy/mm/dd" aria-label="Analysis Start Date" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mt-3">
                <span style='width: 120px' class="input-group-text" id="addon-wrapping">Analysis End:</span>
                <input disabled="true" type="text" class="form-control datepicker disabled analysisEnd"
                    placeholder="yyyy/mm/dd" aria-label="Analysis End Date" aria-describedby="addon-wrapping">
            </div>
            <button style="background-color: #bf5700;" class="btn btn-primary apiGateway mt-3 mb-3 w-100 load"
                type="button">Run Model</button>


            <div style="display: none;">
                <p class="currentMeter"></p>
                <p class="currentBuilding"></p>
                <p class="currentCommodity"></p>
                <p class="currentVariable"></p>
            </div>
        </div>
        <div class="col-xxl-9 col-lg-8">
            <nav class="nav">
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">Meter Description:
                        <span class="units meterVariable">Variable: --</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">Base Temp:
                        <span class="units baseTemp">--</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">% Auto Ignored:
                        <span class="units autoIgnored">--</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">Slope:
                        <span class="units slope">--</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">Intercept:
                        <span class="units intercept">--</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">R-Squared:
                        <span class="units r2">--</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">Std Dev:
                        <span class="units stdDev">--</span>
                    </h6>
                </li>
                <li class='nav-item ms-auto mt-3'>
                    <a class="btn btn-danger logout" href="/logout" role="button">Logout</a>
                </li>
            </nav>
            <div id='dateSlider'></div>
            <div style="display: none;" class="displayData">
                <div class='row mb-3'>
                    <div class='col-md-4'>
                        <div id="reportrange"
                            style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <button class="btn btn-primary dateRange" type="button">
                            Run
                        </button>
                    </div>
                </div>
                <div id='chartData' class="row responsive">
                    <div id="hideIfWater" class="col-xxl-6 col-xl-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <canvas class="my-4 myChart w-100" id="myChart"></canvas>
                                <button type="button" class="btn btn-primary expand" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Expand
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="fullWidth" class="col-xxl-6 col-xl-12">
                        <div class="card w-100">
                            <div class="card-body">
                                <canvas class="my-4 w-100" id="myChart2"></canvas>
                                <button type="button" class="btn btn-primary expand" data-bs-toggle="modal"
                                    data-bs-target="#chartDate">
                                    Expand
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="successAlert"></div>
                <div id="tableData" class="row mb-3 responsive">
                    <div class="col-xxl-12 col-xl-12 text-start">
                        <div class='card w-100'>
                            <div class='card-body'>
                                <ul class="list-group list-group-horizontal mb-3">
                                    <li style="color: white; border: 1px solid; border-color: black"
                                        class="list-group-item bg-transparent"><i style="color: #ffC107"
                                            class="fas fa-square"></i> Value below Low Limit</li>
                                    <li style="color: white; border: 1px solid; border-color: black"
                                        class="list-group-item bg-transparent"><i style="color: #DC3545"
                                            class="fas fa-square"></i> Value above High Limit</li>
                                    <li style="color: white; border: 1px solid; border-color: black"
                                        class="list-group-item bg-transparent"><i style="color: #0DCAF0"
                                            class="fas fa-square"></i> Value same as previous day</li>
                                </ul>
                                <div class='scroll' style="height: 600px; overflow: scroll; overflow-x: hidden">
                                    <table class="table text-light tableData table-fixed">
                                        <thead>
                                            <tr>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Temperature</th>
                                                <th class='x' scope="col"></th>
                                                <th scope="col">Meter Reading</th>
                                                <th scope="col">Expected</th>
                                                <th scope="col">Replacement</th>
                                                <th scope="col">Reason</th>
                                                <th scope="col">Notes</th>
                                            </tr>
                                        </thead>
                                        <tbody class='tableBody'>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="row d-flex justify-content-evenly">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <label class='input-group-text' for="reason">Reason</label>
                                            <select class="form-select" id="reason" aria-label="Default select example">
                                                <option disabled selected>Choose...</option>
                                                <option>Investigate</option>
                                                <option>Meter Issue</option>
                                                <option>Building Maintenance Issue</option>
                                                <option>Major Renovation/Addition in Progress</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasBottom"
                                            aria-controls="offcanvasBottom">Notes</button>
                                    </div>
                                    <div class="col-md-3 replace d-flex justify-content-center align-items-center">
                                        <div class="form-check">
                                            <label class="form-check-label" for="replace">
                                                Replace?
                                            </label>
                                            <input class="form-check-input" type="checkbox" id="replace">

                                        </div>
                                    </div>
                                    <div class="col-md-3 ms-auto">
                                        <button disabled style="background-color: #bf5700; color: white" id="button3"
                                            class="btn w-100 load" type="button">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> chartModalTemp}}
    {{> chartModalDates}}
    <div class="offcanvas offcanvas-bottom text-end" data-bs-scroll='true' tabindex="-1" id="offcanvasBottom"
        aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Notes</h5>
            <button type="button" class="btn-close text-reset mr-2" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <textarea id='notes' style="width: 100%; height: 100%"></textarea>
        </div>
    </div>