<form action="/datacleaning" method="POST">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Steward</label>
                <select name="steward" class="form-select steward" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option>Grace Hsieh</option> 
                    <option>Meagan Jones</option> 
                    <option>Matt Stevens</option> 
                    <option>Travis Isakson</option> 
                </select>
                <button type="button" class="btn btn-success searchBuildings">Search</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Building</label>
                <select id="options" name="building_abbreviation" class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                </select>
            </div>
        </div>
            <div class="col-md-12">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect02">Commodity</label>
                <select name="commodity_tag" class="form-select" id="inputGroupSelect02">
                    <option selected>Choose...</option>
                    <option>A</option>
                    <option>E</option>
                    <option>H</option>
                    <option>L</option>
                    <option>S</option>
                    <option>W</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Search</button>
        <div class="col-md-12">
            <table id="tbl-1" class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Building</th>
                        <th class="text-end" scope="col">Meter Number</th>
                        <th class="text-end" scope="col">Building Number</th>
                        <th class="text-end" scope="col">Commodity</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results.Items}}
                    <tr class="data">
                        <td class="abbreviation">{{building_abbreviation}}</td>
                        <td class="text-end meter">{{meter}}</td>
                        <td class="text-end number">{{building_number}}</td>
                        <td class="text-end commodity">{{commodity_tag}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</form>