<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br />
    <p class='overlayMessage'>Getting data, this will take a few seconds</p>
</div>
<div class="container-fluid" style='height: 100%; width: 100%'>
    <div style="height: 100%; width: 100%" class="row">
        <div class="col-xxl-3 col-lg-4 searchBox">
            <div style='display: none' class="email">
                {{#if email}}
                {{email}}
                {{/if}}
            </div>
            <div class="user">
                {{#if name}}
                {{name}}
                {{/if}}
            </div>
            <div id="toolbar">
                <div class="input-group  mb-3">
                    <select id="filterBy" class="form-select " id="inputGroupSelect01">
                        <option disabled selected>Filter By:</option>
                        {{#each buildings}}
                        <option class='allBuildings' style='display: none' value={{building_id}}>{{building}}</option>
                        {{/each}}
                    </select>
                    <button type='button' class="btn btn-primary reset">reset</button>
                </div>

            </div>
            <table id="table" data-toggle="table" data-toolbar="#toolbar" data-height="480" data-ajax="ajaxRequest"
                data-search="true" data-pagination="true" data-filter="true" data-filter-show-clear="true"
                style="color: white">
                <thead style="color: white">
                    <tr class="rowData">
                        <th id="button3" data-field="state" data-radio="true"></th>
                        <th data-filter-control="select" data-field="building_abbreviation">Building</th>
                        <th data-filter-type="select" data-field="meter">Meter Name</th>
                        <th data-visible='false' data-field="building_number">Building Number</th>
                        <th data-field="commodity_tag">Commodity</th>
                    </tr>
                </thead>
            </table>
            <button style=" color:white" type="button" id="button" class="btn btn-success mt-3">Confirm Meter
                Selection</button>
            <ul class="list-group mt-3 mb-3">
                <li class="list-group-item listGroupColor">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Current Meter Selection:</div>
                        <div class="meterSelection">--</div>
                    </div>
                </li>
            </ul>
            <div class="input-group flex-nowrap mt-3">
                <span class="input-group-text text-white" id="addon-wrapping">Model Start Date:</span>
                <input autocomplete="off" disabled='true' id="modelStart" type="text"
                    class="form-control datepicker disabled modelStart" placeholder="yyyy/mm/dd"
                    aria-label="Model Start Date" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mt-3">
                <span class="input-group-text text-white" id="addon-wrapping">Model End Date:</span>
                <input disabled="true" type="text" class="form-control datepicker disabled modelEnd"
                    placeholder="yyyy/mm/dd" aria-label="Model End Date" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mt-3">
                <span class="input-group-text text-white" id="addon-wrapping">Analysis Start Date:</span>
                <input disabled="true" type="text" class="form-control datepicker disabled analysisStart"
                    placeholder="yyyy/mm/dd" aria-label="Analysis Start Date" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap mt-3">
                <span class="input-group-text text-white" id="addon-wrapping">Analysis End Date:</span>
                <input disabled="true" type="text" class="form-control datepicker disabled analysisEnd"
                    placeholder="yyyy/mm/dd" aria-label="Analysis End Date" aria-describedby="addon-wrapping">
            </div>
            <button style="background-color: #bf5700;" class="btn btn-primary apiGateway mt-3 w-100 load"
                type="button">Run Model</button>
            <div style="display: none;">
                <p class="currentMeter"></p>
                <p class="currentBuilding"></p>
                <p class="currentCommodity"></p>
            </div>
        </div>
        <div class="col-xxl-9 col-lg-8">
            <nav class="nav">
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">Meter Description:
                        <span class="units meterVariable">Variable: --</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">Base Temp:
                        <span class="units baseTemp">--</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">% Auto Ignored:
                        <span class="units autoIgnored">--</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">Slope:
                        <span class="units slope">--</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">Intercept:
                        <span class="units intercept">--</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">R-Squared:
                        <span class="units r2">--</span>
                    </h6>
                </li>
                <li class='nav-item'>
                    <h6 style='color: white' class="nav-link">Std Dev:
                        <span class="units stdDev">--</span>
                    </h6>
                </li>
            </nav>
            <div id='chartData' class="row responsive">
                <div class="col-xxl-6 col-xl-12">
                    <div class="card w-100">
                        <div class="card-body">
                            <canvas class="my-4 w-100 myChart" id="myChart" width="900" height="415"></canvas>
                            <button style="display: none" type="button" class="btn btn-primary expand"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Expand
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-12">
                    <div class="card w-100">
                        <div class="card-body">
                            <canvas class="my-4 w-100" id="myChart2" width="900" height="415"></canvas>
                            <button style="display: none" type="button" class="btn btn-primary expand"
                                data-bs-toggle="modal" data-bs-target="#chartDate">
                                Expand
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
           <div class="successAlert"></div>
            <div id="tableData" class="row mb-3 responsive">
                <div id='tableData' class="col-xxl-12 col-xl-12 text-start">
                    <div class='card w-100'>
                        <div class='card-body'>
                            <div class="table-responsive ">
                                <table data-height="462" data-toggle="table" data-virtual-scroll="true"
                                    data-detail-formatter="detailFormatter" id="table2" class="table table-bordered"
                                    data-multiple-select-row="true" data-click-to-select="true" style="color: white" ;>
                                    <thead style="color: white">
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            <th data-halign="left" data-width='150' data-field="Date">Date</th>
                                            <th data-halign="left" data-width='150' data-field="Temperature">Temperature
                                            </th>
                                            <th data-halign="left" data-width='150' data-field="HDD">HDD</th>
                                            <th data-halign="left" data-width='150' data-field="Meter">Meter Reading
                                            </th>
                                            <th data-halign="left" data-width='150' data-field="Expected">Expected</th>
                                            <th data-halign="left" data-width='150' data-field="Replacement">Replacement
                                            </th>
                                            <th data-halign="left" data-width='150' data-field="Reason">Reason</th>
                                            <th data-halign="left" data-width="200" data-field="Notes">Notes</th>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div style='width: 100%' class="card-footer bg-transparent">
                            <div style='width: 100%' class="row">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <label class='input-group-text text-white' for="reason">Reason</label>
                                        <select class="form-select" id="reason" aria-label="Default select example">
                                            <option disabled selected>Choose...</option>
                                            <option>Investigate</option>
                                            <option>meter issue</option>
                                            <option>building maintenance issue</option>
                                            <option>major renovation/addition in progress</option>
                                            <option>other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Notes</button>
                                </div>
                                <div class="col-md-3">
                                    <input type="checkbox" class="btn-check w-100" id="replace" autocomplete="off" />
                                    <label class="btn btn-outline-success w-100" for="replace">Replace?</label>
                                </div>
                                <div class="col-md-3">
                                    <button style="background-color: #bf5700;" id="button3"
                                        class="btn btn-success w-100 load" type="button">Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{> chartModalTemp}}
    {{> chartModalDates}}
    <div class="offcanvas offcanvas-bottom text-end" tabindex="-1" id="offcanvasBottom"
        aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Notes</h5>
            <button type="button" class="btn-close text-reset mr-2" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <textarea id='notes' style="width: 100%; height: 100%"></textarea>
        </div>
    </div>