<div class="row text-center justify-content-center home">
    <h1 class="mb-5">Find and Edit a Project</h1>
    <div class="col-4 background">
       <a href="/find"><i class="fas fa-search fa-5x"></i></a>
    </div>
    <hr class="mt-5">
    <div class="row justify-content-center text-center mt-5">
        <h1 class="mb-5">Create a New Project</h1>
        <div class="col-4 background">
                <a href="/metadata"><i class="fas fa-plus-circle fa-5x"></i></a>
            </div>
        </div>
    </div>
</div>