<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Project Info</li>
        </ol>
    </nav>
    <div class="card border-secondary mb-3 w-100 text-light" style="background-color: #333f48;">
        <h5 style="background-color: #bf5700;" class="card-header">Project Info</h5>
        <div class="card-body text-black">
             {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
            {{/each}}
            <form action="/metadata" method="POST">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Project ID:</span>
                                </div>
                                <input name="project_id" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Building:</label>
                            <select name="building" class="form-select" id="inputGroupSelect01">
                                <option disabled selected>Choose...</option>
                                {{#each bldgs}}
                                <option>{{acronym}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Measure Type:</label>
                            <select name="measure_type" class="form-select" id="inputGroupSelect01">
                                <option disabled selected>Choose...</option>
                                <option>BAS Upgrade</option>
                                <option>BAS Upgrade &amp; Scheduling</option>
                                <option>Data Center</option>
                                <option>EBCx</option>
                                <option>Holiday Scheduling</option>
                                <option>Lighting</option>
                                <option>Optimum Energy</option>
                                <option>Scheduling</option>
                                <option>Valves</option>
                                <option>VFD Exhaust Fan</option>
                                <option>VFD Supply Dan</option>
                                <option>Water</option>
                                <option>Other</option>
                            </select>

                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Status:</label>
                            <select name="status" class="form-select" id="inputGroupSelect01">
                                <option disabled selected>Choose...</option>
                                <option>0-Cancelled</option>
                                <option>1-Planning</option>
                                <option>2-In Progress</option>
                                <option>3-In Reporting Period</option>
                                <option>5-Completed</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 mt-5">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Start Date:</span>
                            </div>
                            <input placeholder="mm/dd/yy" name="baseline_start_date" type="text" class="form-control" />
                            <input placeholder="mm/yy/dd" name="reporting_period_start_date" type="text"
                                class="form-control" />
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default"># of Days:</span>
                            </div>
                            <input placeholder="mm/dd/yy" name="length_baseline_period_days" type="text"
                                class="form-control" />
                            <input placeholder="mm/dd/yy" name="length_reporting_period_days" type="text"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4 mt-5">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Staff Lead:</span>
                            </div>
                            <select name="staff_lead" class="form-select" id="inputGroupSelect01">
                                <option disbaled selected>Choose...</option>
                                <option>Adam Keeling</option>
                                <option>Amanda Berens</option>
                                <option>Buddy Bishop</option>
                                <option>Dave Cooper</option>
                                <option>Grace Hsieh</option>
                                <option>John Milton</option>
                                <option>Matt Stevens</option>
                                <option>Meagan Jones</option>
                                <option>Pat Mazur</option>
                                <option>Richard Shearman</option>
                                <option>Travis Isakson</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Staff Support:</span>
                            </div>
                            <select name="staff_colead" class="form-select" id="inputGroupSelect01">
                                <option disbaled selected>Choose...</option>
                                <option>Adam Keeling</option>
                                <option>Amanda Berens</option>
                                <option>Buddy Bishop</option>
                                <option>Dave Cooper</option>
                                <option>Grace Hsieh</option>
                                <option>John Milton</option>
                                <option>Matt Stevens</option>
                                <option>Meagan Jones</option>
                                <option>Pat Mazur</option>
                                <option>Richard Shearman</option>
                                <option>Travis Isakson</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Analyst:</span>
                            </div>
                            <select name="analyst" class="form-select" id="inputGroupSelect01">
                                <option disabled selected>Choose...</option>
                                <option>Jeff McComas</option>
                                <option>Josh Butler</option>
                                <option>Laura Chiasson</option>
                                <option>Terrell McRee</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Project Description:</span>
                    </div>
                    <textarea rows='5' name="project_description" class="form-control"
                        aria-label="With textarea"></textarea>
                </div>
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Nonenergy Benefits:</span>
                    </div>
                    <textarea rows='2' name="nonenergy_benefits" class="form-control"
                        aria-label="With textarea"></textarea>
                </div>
                <div class="text-end">
                    <button type="submit" style="background-color: #bf5700;"
                        class="btn text-light btn-warning  mt-3">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>