<div class="container">
    <div class="ring">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="outOfBoundsTable mt-3 mb-3">
    </div>
</div>