#overlay {
    background-color:rgba(255, 255, 255, .8);
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    
  }
  .spinner {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid firebrick;
      border-right-color: transparent;
      border-radius: 50%;
  }

.units{
    display: block;
    text-align: right;
}

.bordered {
    border: 1px solid
}

.page-list .btn-secondary {
    background-color: white;
    color: black
}


@media (min-width: 764px) and (max-width: 1400px){
    .responsive{
        flex-direction: column;
        width: 100%
    }
}

.searchBox, .listGroupColor, .card{
    background-color: rgba(156,173,183,0.2);
    color: white;
}

.table-hover>tbody>tr:hover {
    background-color: #ffffff; 
}

.form-check-input[type=checkbox]:checked:after {
    margin-left: .25rem;
}

.form-check .form-check-input {
    float: left;
    margin-right: 0.5em;
}

.dropdown-toggle{
    height: 40px;
}

.pointer:hover{
    cursor: pointer;
}

  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }