#overlay {
    background-color:rgba(255, 255, 255, .8);
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    
  }
  .spinner {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid firebrick;
      border-right-color: transparent;
      border-radius: 50%;
  }

.units{
    display: block;
    text-align: right;
}

.bordered {
    border: 1px solid
}

.page-list .btn-secondary {
    background-color: white;
    color: black
}


@media (min-width: 764px) and (max-width: 1400px){
    .responsive{
        flex-direction: column;
        width: 100%
    }
}

.searchBox, .listGroupColor, .card{
    background-color: rgba(156,173,183,0.2);
    color: white;
}

.table-hover>tbody>tr:hover {
    background-color: #ffffff; 
}

.form-check-input[type=checkbox]:checked:after {
    margin-left: .25rem;
}

.btn{
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    border: 0;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    padding: 10px 24px 8px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);


}

span.ripple {
    position: absolute; 
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }

.btn-success{
    background-color: #00B74A
}

table {
    font-size: 14.4px;
    font-family: Roboto, sans-serif

}

.table>:not(caption)>*>* {
    padding: 1rem 1.4rem;
}

.replace{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #333f48;
    font-family: Roboto, sans-serif;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.form-check{
    display: block;
    min-height: 1.5rem;
    padding-left: 0;
    margin-bottom: 0;
}

.form-check-input[type=checkbox] {
    border-radius: 0.5em;
}

.form-check .form-check-input {
    float: right;
    margin-left: 1em;
}


  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }