#overlay {
  background-color: rgba(255, 255, 255, 0.8);
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
}
.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
}

.multi-sort{
    background-image: url('../images/sort-solid.svg');
    height: 35px;
    background-color: #6C757D;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
    border-radius: 1px;
    background-size: 10px;
    width: 55px;
}

.dropdown-toggle{
  margin-right: 10px;
  border-radius: 1px;
}
.units {
  display: block;
  text-align: right;
}

.limitValue {
  display: block;
}

.bordered {
  border: 1px solid;
}

.ring{
    border: 1px solid;
    height: 42%;
}

.spinner-border{
    margin-top: 30%;
}

.page-list .btn-secondary {
  background-color: white;
  color: black;
}

.chooseSteward {
  cursor: pointer;
}

.position {
  position: relative;
}

.warning {
  left: 50%;
  bottom: 50%;
}

@media (min-width: 764px) and (max-width: 1400px) {
  .responsive {
    flex-direction: column;
    width: 100%;
  }
}

.searchBox,
.listGroupColor,
.card,
.card-footer {
  background-color: rgba(156, 173, 183, 0.2);
  color: white;
}

.table-hover > tbody > tr:hover {
  background-color: #ffffff;
}

.form-check-input[type="checkbox"]:checked:after {
  margin-left: 0.25rem;
}

.btn {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  border: 0;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  padding: 10px 24px 8px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

@media (min-width: 2001px) {
  #chartData {
    width: 102.5%;
  }
}

@media (max-width: 2000px) {
  #chartData {
    width: 103.5%;
  }
}

.btn-success {
  background-color: #00b74a;
}

table {
  font-size: 14.4px;
  font-family: Roboto, sans-serif;
}

.table > :not(caption) > * > * {
  padding: 1rem 1.4rem;
}

.replace {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #333f48;
  font-family: Roboto, sans-serif;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 0;
  margin-bottom: 0;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.5em;
}

.form-check .form-check-input {
  float: right;
  margin-left: 1em;
}

.tableData {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.tableData thead {
  flex: 0 0 auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #333f48;
}

.tableData tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.tableData tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

a[data-tool-tip] {
  position: relative;
  text-decoration: none;
  color: black;
}

a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  z-index: 2;
  display: block;
  position: absolute;
  background-color: dimgrey;
  padding: 12px 15px;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  bottom: 0;
  left: -190%;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 200%;
  z-index: 3;
}

.firstRow[data-tool-tip] {
  position: relative;
  text-decoration: none;
  color: black;
}

.firstRow[data-tool-tip]::after {
  content: attr(data-tool-tip);
  z-index: 2;
  display: block;
  position: absolute;
  background-color: dimgrey;
  padding: 12px 15px;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  bottom: 0;
  left: -190%;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms;
}

.firstRow[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: -300%;
  z-index: 3;
}

.float-left {
  width: 30%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
