.table-hover tbody tr:hover td  {  
     background-color: lightgray;
     cursor: pointer;   
}   

#overlay {
    background-color:rgba(255, 255, 255, .8);
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    
  }
  .spinner {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid firebrick;
      border-right-color: transparent;
      border-radius: 50%;
  }

  /* .header {
    position: sticky;
    top: 0;
} */
.tableContainer {
    height: 400px;
    overflow: auto;
}

.bordered {
    border: 1px solid
}
  
  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }