.background:hover {
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1.4) rotateZ(-10deg);
}

.background a {
  color: black;
}

.background a:hover {
  color: black;
}

a {
  text-decoration: none;
}

.home {
  color: black;
  margin-top: 200px;
}

h1 {
  font-size: 60px;
  /* font-family: 'Mate SC', serif; */
}

.disclaimer {
  color: lightgray;
}

.project_id {
  font-weight: bold;
}

.margin {
  margin-top: 100px;
}

.units {
  display: block;
}

.bordered {
  border: 1px solid;
}

.borderTop {
  border-top: 1px solid;
}

.inputBorder {
  border: 1px solid;
  border-color: black;
}

#overlay {
  background-color: rgba(255, 255, 255, 0.8);
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
}
.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
}

.btn {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  border: 0;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  padding: 10px 24px 8px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.btn-success {
  background-color: #00b74a;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  padding: 0.2rem;
}

.content-container {
  padding-top: 20px;
  padding-left: 400px;
}

.active {
  background-color: #bf5700;
}

.sidebar-container {
  position: fixed;
  width: 400px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1a1a1a;
  color: #fff;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;

}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.sidebar-navigation li .fas, .fa, .far {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #bf5700;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation .logout::before {
  background-color: #DC3545;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.card,
.card-footer,
#filterOptions {
  background-color: rgba(156, 173, 183, 0.2);
  color: white;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-box {
  width: 100%;
  height: 25%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
}

.login-snip {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
}

.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  visibility: visible;
  backface-visibility: hidden;
  transition: all 0.4s linear;
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none;
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
  text-transform: uppercase;
}

.login-snip .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee;
}

.login-space {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-space .group {
  margin-bottom: 15px;
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: #fff;
  display: block;
}

.login-space .group .input,
.login-space .group .button {
  border: none;
  padding: 15px 20px;

  background: rgba(255, 255, 255, 0.1);
}

.login-space .group input[data-type="password"] {
  -webkit-text-security: circle;
}

.login-space .group .label {
  color: #aaa;
  font-size: 12px;
}

.login-space .group .button {
  background: #1161ee;
}

.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-space .group .check:checked + label {
  color: #fff;
}

.login-space .group .check:checked + label .icon {
  background: #1161ee;
}

.login-space .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-space .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
  transform: rotate(0);
}

.login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
  transform: rotate(0);
}

a {
  color: inherit;
  text-decoration: none;
}

.divide {
  height: 2px;
  margin: 40px 0 30px 0;
  background: rgba(255, 255, 255, 0.2);
}

.foot {
  text-align: center;
}

::placeholder {
  color: #b3b3b3;
}

@media (min-width: 764px) and (max-width: 1400px) {
  .responsive {
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  .card {
    width: 600px;
  }
}
