
a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    /* font-family: 'Mate SC', serif; */
}

.disclaimer{
    color: lightgray
}

.project_id {
    font-weight: bold;
}

.margin {
    margin-top: 100px;
}

.units{
   display: block;
}

.bordered {
    border: 1px solid;
}

.borderTop{
    border-top: 1px solid; 
}

.inputBorder{
    border: 1px solid;
    border-color: black;
}

#overlay {
    background-color:rgba(255, 255, 255, .8);
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    
  }
  .spinner {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid firebrick;
      border-right-color: transparent;
      border-radius: 50%;
  }

  .checkMark:hover{
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.1)
}

.inputTable td {
    position: relative;
  }

.inputTable td input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100% !important;
    width: 100%;
    border-radius: 0 !important;
    border: none;
    padding: 10px;
    box-sizing: border-box;
  }
  
  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
 

@media (min-width: 764px) and (max-width: 1400px){
      .responsive{
          flex-direction: column;
      }
  }

@media (min-width: 601px){
    .card {
        width: 600px;
    }
}

body{ 
    background-color: #faf0e6
}

