<div class="sidebar-container">
    <div class="sidebar-logo">
        UT Energy Hub
    </div>
    {{> sidebar}}
</div>

<div class="content-container">
    <div id="myCarousel" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div style="position: relative; top: 0; left: 0;" class="carousel-item active">
                <img class='bgimage' style="height: 100%" src="../images/uem2.jpg">
                <img class='fgimage' src="../images/logo-uem-home.svg">
                <div class="container">
                    <div class="carousel-caption text-center">
                        <h1>Welcome to the UT Energy Hub!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h4 style="color: white; font-family: Roboto, sans-serif;">Current Projects&nbsp;<span class='text-muted' style="font-size: 13px">(hover over images for more info)</span></h4>
        <hr class="pill">
        <div class="mb-5 mt-5">
            <div style="height: 400px" class="row">
                <div class="col-lg-6">
                    <div class="hovereffect">
                        <img style="width: 100%; height: 400px" class="img-responsive" src="../images/ecmform.png"
                            alt="">
                        <div class="overlay">
                            <h2>ECM Forms</h2>
                            <a target="_blank" class="info" href="/ecmforms">Open</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hovereffect">
                        <img style="width: 100%; height: 400px" class="img-responsive" src="../images/datacleaning.png"
                            alt="">
                        <div class="overlay">
                            <h2>Meter Validation App</h2>
                            <a target="_blank" class="info" href="/datacleaning">Open</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>