<div class="container-fluid" style="height: 100%">
    <div class="row" style='height: 100%'>
        <div style="background-color: #bf5700" class="col-md-5 col-sm-12">
            <img style="min-height: 100vh" src="./images/logo-uem.svg" class='w-100'>
        </div>
        <div style="background-color: #333f48" class="col-md-7 col-sm-12 pt-4">
            <div style="min-height: 110vh" class="h-100 d-flex flex-nowrap m-sm-auto align-items-center">
                <div   class="page">
                    <div class="login-box">
                        <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in"
                                checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio"
                                name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                            <div class="login-space">
                                <form action='/login' id="loginData" method="POST">
                                    <div class="login">
                                        <div class="group"> <label for="user" class="label">Email</label> <input
                                                name='email' id="user" type="text" class="input"
                                                placeholder="Enter your email"> </div>
                                        <div class="group"> <label for="pass" class="label">Password</label> <input
                                                name='password' id="pass" type="password" class="input"
                                                data-type="password" placeholder="Enter your password"> </div>
                                        <div class="group mt-5"> <input type="submit" class="button" value="Sign In">
                                        </div>
                                        {{#if error}}
                                        <div class="alert alert-danger" role="alert">
                                            {{error}}
                                        </div>
                                        {{/if}}
                                        <div class="divide"></div>
                                        {{!-- <div style='color: white' class="foot"> <a href="#">Forgot Password?</a> </div> --}}
                                    </div>
                                </form>
                                <div class="sign-up-form">
                                    <div class="group"> <label for="user" class="label">Full Name</label> <input
                                            name='name' id="user" type="text" class="input registerName"
                                            placeholder="Enter your full name">
                                    </div>
                                    <div class="group"> <label for="pass" class="label">Email Address</label> <input
                                            id="pass" value='{{email}}' name="email" type="text"
                                            class="input registerEmail" placeholder="Enter your email address">
                                    </div>
                                    <div class="group"> <label for="pass" class="label">Password</label> <input
                                            id="pass" type="password" name='password' class="input registerPassword"
                                            data-type="password" placeholder="Create your password"> </div>
                                    <div class="group"> <label for="pass" class="label">Repeat Password</label> <input
                                            id="pass" type="password" name='password2' class="input password2"
                                            data-type="password" placeholder="Repeat your password"> </div>

                                    <div class="group"> <button type="button"
                                            class="button button-primary register mt-5">Sign
                                            Up</button>
                                    </div>
                                    <div class="registerMessage">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

