<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div style="background-color: #bf5700; border-radius: 10px;" class="row py-5 px-5">
        <div class="col">
            <h1 class="text-white">Reset password</h1>
            <p class="text-white">Enter your new password below.</p>
            {{#if message}}
            <div class="reset-message alert alert-warning">{{message}}</div>
            <a style="color: white" href="/forgot-password">Reset Password</a>
            {{else}}
            <div class="reset-message alert" style="display:none;"></div>
            {{/if}}
            {{#if showForm}}
            <div class="mb-3">
                <label for="rpPassword1" class="form-label text-white">New Password</label>
                <input type="password" class="form-control" id="rpPassword1" placeholder="Password">
            </div>
            <div class="mb-3">
                <label for="rpPassword2" class="form-label text-white">Confirm New Password</label>
                <input type="password" class="form-control" id="rpPassword2" placeholder="Confirm Password">
            </div>

            {{#with record}}
            <input type="hidden" class="form-control" id="emailRp" value={{email}}
                placeholder="Another input placeholder">
            <input type="hidden" class="form-control" id="tokenRp" value={{token}} placeholder="Confirm Password">
            {{/with}}
            <div class="form-group mt-2 text-center"><button class="btn btn-success mt-2" id="rpButton"
                    type="submit">Reset Password</button></div>
            {{/if}}
            <div id="action">
                
            </div>
        </div>
    </div>
</div>